$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$light-gray: #f5f5f5;
$dark-gray: #777;
$violet: #4d0690;
$black: #000;
$white: #fff;
$orange: #fb8154;
$orange-hover: #e44e17;
$border-color: #772;